            <div class="row">
                <div class="col-sm-12">
                    <h3 class="lead">Novo Departamento</h3>         
                    <%= render "form", departamento: @departamento %>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <%= link_to "Voltar", departamentos_path, class:"btn btn-default" %>
                </div>
            </div>
