        <div class="row">
            <div class="col-sm-12">
                <h3 class="lead">Resultado da Busca</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th colspan=1></th>
                        </tr>
                    </thead>
                    <tbody>          
                        <%= render @produtos%>
                    </tbody>
                </table>
            </div>
        </div>