            <div class="row">
                <div class="col-sm-12">

                    <h3 class="lead">Produtos</h3>

                    <% if flash[:notice] %>
                        <div class="alert alert-success" role="alert">
                            <%= flash[:notice] %>
                        </div>
                    <% end %>
                
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Departamento</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th colspan=1></th>
                        </tr>
                    </thead>
                    <tbody>          
                        <%= render @produtos %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="lead">Produtos com Desconto</h3>
                
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Departamento</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th colspan=1></th>
                        </tr>
                    </thead>
                    <tbody>          
                        <%= render @produto_com_desconto %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>